<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193390199515-0f5g8jh5q7rs40j4aeddt3m2itoqaen7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193390199515-0f5g8jh5q7rs40j4aeddt3m2itoqaen7</string>
	<key>API_KEY</key>
	<string>AIzaSyCAuzy06HpyhoDQYGnJFQcClb2_wMv24HU</string>
	<key>GCM_SENDER_ID</key>
	<string>193390199515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Drolllted.MusListen</string>
	<key>PROJECT_ID</key>
	<string>muzlisten-86dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>muzlisten-86dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193390199515:ios:9f2e359fd467c4283742fe</string>
</dict>
</plist>